/* basic reset */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  font-size: 2rem; }

h1,
h2,
h3,
h4 {
  line-height: 1.3; }

a {
  color: #333;
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

/* basic reset end */
/* utilites */
.btn {
  display: inline-block;
  color: #fff;
  background-color: #40739e;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 21px; }

.btn:hover {
  background-color: #487eb0; }

.heading-secondary {
  font-size: 7rem;
  font-weight: 400;
  margin: 2.5rem 0; }

@media (max-width: 112.5em) {
  .heading-secondary {
    font-size: 5rem;
    font-weight: 400;
    margin: 2.5rem 0; } }

@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 6rem;
    font-weight: 400;
    margin: 1rem 0; } }

@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 4rem;
    font-weight: 400;
    margin: 1.5rem 0; } }

.heading-tertiary {
  font-size: 5rem;
  font-weight: 400;
  margin: 2.5rem 0; }

@media (max-width: 112.5em) {
  .heading-tertiary {
    font-size: 4rem;
    font-weight: 400; } }

@media (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 2.5rem 0; } }

.paragraph-secondary {
  font-size: 3rem;
  font-weight: 300; }

@media (max-width: 112.5em) {
  .paragraph-secondary {
    font-size: 2rem;
    font-weight: 300; } }

@media (max-width: 56.25em) {
  .paragraph-secondary {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5; } }

@media (max-width: 37.5em) {
  .paragraph-secondary {
    font-size: 2.3rem;
    font-weight: 300; } }

.paragraph-tertiary {
  font-size: 2.5rem;
  font-weight: 300; }

@media (max-width: 37.5em) {
  .paragraph-tertiary {
    font-size: 1.9rem;
    font-weight: 400; } }

.heading-goal {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0 1rem; }

.goal-paragraph {
  font-size: 1.9rem;
  font-weight: 300;
  text-align: center;
  padding: 0 4rem; }

@media (max-width: 37.5em) {
  .goal-paragraph {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    padding: 0 2rem; } }

.goal-icon {
  width: 7rem;
  height: 7rem; }

.skills-paragraph {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.5; }

@media (max-width: 112.5em) {
  .skills-paragraph {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.5; } }

@media (max-width: 56.25em) {
  .skills-paragraph {
    line-height: 1.3; } }

.heading-contact {
  font-size: 7rem;
  font-weight: 400;
  color: #dcdde1;
  margin: 3rem 0; }

@media (max-width: 37.5em) {
  .heading-contact {
    font-size: 5rem;
    font-weight: 400;
    color: #dcdde1;
    margin: 2rem 0; } }

.paragraph-contact {
  font-size: 3rem;
  font-weight: 300;
  color: #dcdde1;
  margin-bottom: 5rem; }

@media (max-width: 37.5em) {
  .paragraph-contact {
    font-size: 2.5rem;
    font-weight: 300;
    color: #dcdde1;
    margin: 0 5rem; } }

.header {
  height: 75vh;
  background: linear-gradient(to right bottom, #360033, #0b8793); }
  .header .header_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20rem;
    height: 100%; }
    .header .header_content .l-heading {
      font-size: 7rem;
      color: #fff;
      font-weight: 400;
      padding-bottom: 0.75rem; }
    .header .header_content .lead {
      font-size: 3rem;
      font-weight: 300;
      color: #fff; }

@media (max-width: 112.5em) {
  .header {
    height: 100vh; }
    .header .header_content {
      margin-left: 15rem; }
      .header .header_content .l-heading {
        font-size: 6rem;
        color: #fff;
        font-weight: 400;
        padding-bottom: 0.75rem; }
      .header .header_content .lead {
        font-size: 2.5rem; } }

@media (max-width: 75em) {
  .header {
    height: 100vh; }
    .header .header_content {
      margin-left: 15rem; }
      .header .header_content .l-heading {
        font-size: 6.5rem;
        color: #fff;
        font-weight: 400;
        padding-bottom: 0.75rem; } }

@media (max-width: 56.25em) {
  .header {
    height: 100vh; }
    .header .header_content {
      margin-left: 10rem; }
      .header .header_content .l-heading {
        font-size: 6rem;
        color: #fff;
        font-weight: 400;
        padding-bottom: 0.75rem; }
      .header .header_content .lead {
        font-size: 3rem; } }

@media (max-width: 37.5em) {
  .header {
    height: 100vh; }
    .header .header_content {
      margin-left: 5rem; }
      .header .header_content .l-heading {
        font-size: 4rem;
        color: #fff;
        font-weight: 400;
        padding-bottom: 0.75rem; }
      .header .header_content .lead {
        font-size: 2rem; } }

.section-skills {
  background-color: #f5f6fa; }
  .section-skills .skills {
    padding: 5rem 0 20rem; }
    .section-skills .skills__text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10rem;
      width: 30%; }
  .section-skills .skills__card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8rem 0 4rem; }
    .section-skills .skills__card-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0 5rem;
      width: 35rem;
      height: 40rem;
      background: #ffffff;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: 0 2rem; }
    .section-skills .skills__card .skills__icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2.5rem 0; }
      .section-skills .skills__card .skills__icon-container img {
        width: 7rem;
        height: 7rem;
        margin: 0 1rem; }

@media (max-width: 112.5em) {
  .section-skills .skills {
    padding: 2rem 0 10rem; }
    .section-skills .skills__text-box {
      margin: 0 10rem;
      width: 70%; }
  .section-skills .skills__card {
    justify-content: space-around;
    margin: 5rem 0; }
    .section-skills .skills__card-container {
      margin: 1rem;
      width: 30rem;
      height: 35rem; }
    .section-skills .skills__card .skills__icon-container img {
      width: 5rem;
      height: 5rem; } }

@media (max-width: 75em) {
  .section-skills .skills__text-box {
    margin: 0 8rem;
    width: auto; }
  .section-skills .skills__card {
    justify-content: space-around;
    margin: 8rem; }
    .section-skills .skills__card-container {
      justify-content: flex-start;
      align-content: center;
      margin: 1rem 1rem; }
    .section-skills .skills__card .skills__icon-container {
      margin: 1.5rem 0; }
      .section-skills .skills__card .skills__icon-container img {
        margin: 0 0.75rem; } }

@media (max-width: 56.25em) {
  .section-skills .skills {
    padding: 5rem 0; }
    .section-skills .skills__text-box {
      margin: 0 6rem;
      width: auto; }
  .section-skills .skills__card {
    margin: 3rem 3rem; }
    .section-skills .skills__card-container {
      width: 30rem;
      height: 35rem;
      justify-content: flex-start;
      align-content: center;
      margin: 1rem 1rem; }
    .section-skills .skills__card .skills__icon-container {
      margin: 1.5rem 0; }
      .section-skills .skills__card .skills__icon-container img {
        width: 6rem;
        height: 6rem;
        margin: 0 1rem; } }

@media (max-width: 37.5em) {
  .section-skills .skills {
    padding: 1rem 0 5rem; }
    .section-skills .skills__text-box {
      margin: 5rem;
      width: auto; }
  .section-skills .skills__card {
    flex-direction: column; }
    .section-skills .skills__card-container {
      margin-bottom: 5rem; } }

.section-about {
  background: #ffffff; }
  .section-about .about {
    padding: 5rem 0 20rem; }
    .section-about .about__text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 30rem;
      width: 30%; }
  .section-about .about__middle {
    margin-top: 15rem;
    display: flex;
    justify-content: space-around; }
    .section-about .about__middle-image {
      margin-left: 30rem;
      width: 90rem;
      height: 50rem; }
    .section-about .about__middle-text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1; }
    .section-about .about__middle .paragraph-vision {
      padding-right: 20rem; }

@media (max-width: 112.5em) {
  .section-about .about {
    padding: 5rem 0 10rem; }
    .section-about .about__text-box {
      margin: 0 8rem;
      width: 70%; }
  .section-about .about__middle-image {
    width: 50rem !important;
    height: 50rem !important;
    margin: 2rem 0 !important; }
  .section-about .about__middle-text-box {
    margin-bottom: 25rem;
    width: auto; }
  .section-about .about__middle .paragraph-vision {
    padding-right: 1rem !important; } }

@media (max-width: 75em) {
  .section-about .about__text-box {
    margin: 0 8rem;
    width: 60%; }
  .section-about .about__middle-image {
    width: 60rem !important;
    height: 60rem !important;
    margin: 2rem 0 !important; }
  .section-about .about__middle-text-box {
    margin-bottom: 25rem;
    width: auto; }
  .section-about .about__middle .paragraph-vision {
    padding-right: 1rem !important; } }

@media (max-width: 56.25em) {
  .section-about .about {
    padding: 5rem 0; }
    .section-about .about__text-box {
      margin: 0 6rem;
      width: auto; }
  .about__middle {
    margin-top: 5rem !important; }
    .about__middle-image {
      width: 50rem !important;
      height: 50rem !important;
      margin: 2rem 0 !important; }
    .about__middle-text-box {
      margin-bottom: 25rem;
      width: auto; }
    .about__middle .paragraph-vision {
      padding-right: 1rem !important; } }

@media (max-width: 37.5em) {
  .section-about {
    display: flex;
    flex-direction: column; }
    .section-about .about {
      padding: 2rem 0 5rem; }
      .section-about .about__text-box {
        margin: 0 5rem;
        width: auto; }
    .section-about .about__middle {
      margin-top: 4rem !important;
      flex-direction: column; }
      .section-about .about__middle-image {
        justify-content: center;
        align-items: center;
        order: 1;
        width: 35rem !important;
        height: 35rem !important;
        margin: 4rem !important; }
      .section-about .about__middle-text-box {
        margin: 0 4rem;
        width: auto; }
      .section-about .about__middle .paragraph-vision {
        padding-right: 0; } }

.section-goal {
  background: #d2dae2; }
  .section-goal .goal {
    padding: 5rem 0 10rem; }
    .section-goal .goal__text-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 0 0 30%;
      margin-left: 20rem;
      width: 30%; }
    .section-goal .goal .goal__card {
      display: flex;
      justify-content: center;
      margin-left: 90rem; }
      .section-goal .goal .goal__card .container-1,
      .section-goal .goal .goal__card .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center; }
    .section-goal .goal .goal__card-container {
      width: 31rem;
      height: 36rem;
      margin: 0 4rem;
      padding: 2rem 0;
      background: #ecf0f1;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
      border-radius: 19px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .section-goal .goal .card-container-1 {
      margin-bottom: 4rem; }
    .section-goal .goal .card-container-3 {
      margin-top: 5rem; }
    .section-goal .goal .card-container-4 {
      margin-top: 4rem; }

@media (max-width: 112.5em) {
  .section-goal .goal__text-box {
    margin: 0 8rem;
    width: 70%; }
  .section-goal .goal__card {
    margin: 5rem 3rem !important; } }

@media (max-width: 75em) {
  .section-goal .goal__text-box {
    margin: 0 8rem;
    width: auto; }
  .section-goal .goal__card {
    margin: 5rem 3rem !important; }
  .section-goal .card-container-1,
  .section-goal .card-container-2,
  .section-goal .card-container-3,
  .section-goal .card-container-4 {
    margin: 5rem !important; } }

@media (max-width: 56.25em) {
  .section-goal .goal {
    padding: 5rem 0; }
    .section-goal .goal__text-box {
      padding: 3rem 0;
      margin: 0 3rem;
      width: auto; }
  .section-goal .goal__card {
    margin: 0 3rem !important; }
  .section-goal .card-container-1,
  .section-goal .card-container-2,
  .section-goal .card-container-3,
  .section-goal .card-container-4 {
    margin: 5rem !important; } }

@media (max-width: 37.5em) {
  .section-goal .goal {
    padding: 2rem 0 5rem; }
    .section-goal .goal__text-box {
      margin: 5rem;
      width: auto; }
    .section-goal .goal .goal__card {
      flex-direction: column;
      margin: 0 5rem; }
      .section-goal .goal .goal__card .container-1,
      .section-goal .goal .goal__card .container-2 {
        align-items: center;
        margin: 0 1rem;
        padding: 0 2rem; }
    .section-goal .goal .goal__card-container {
      margin: 4rem 0; }
    .section-goal .goal .card-container-1,
    .section-goal .goal .card-container-2,
    .section-goal .goal .card-container-3,
    .section-goal .goal .card-container-4 {
      margin: 4rem !important; } }

.section-contact {
  background: linear-gradient(to right bottom, #00416a, #e4e5e6); }
  .section-contact .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 20rem;
    height: 100%; }
    .section-contact .contact__text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem; }
    .section-contact .contact__social-box {
      text-align: center;
      margin: 2rem 0 2rem; }
      .section-contact .contact__social-box a {
        padding: 2rem; }
      .section-contact .contact__social-box a:nth-child(1) {
        color: #e4405f; }
      .section-contact .contact__social-box a:nth-child(2) {
        color: #0077b5; }

@media (max-width: 56.25em) {
  .section-contact .contact {
    height: auto;
    padding: 5rem 0; } }

@media (max-width: 37.5em) {
  .section-contact .contact {
    height: auto;
    padding: 2rem 0 10rem; }
    .section-contact .contact__text-box {
      margin: 5rem; }
    .section-contact .contact__social-box {
      margin: 4rem 0; } }

.footer {
  padding: 3rem 0 3rem;
  background: linear-gradient(to right, #000428, #004e92);
  display: flex;
  flex-direction: column; }
  .footer .footer_author-lead {
    font-size: 2rem;
    text-align: center;
    color: #fff; }
